@import "tailwindcss";

::-webkit-scrollbar {
  display: none;
}

* {
  outline: none;
}
button {
  cursor: pointer;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.hom-con {
  background-image: url("/Body\ bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg {
  background-color: #181818;
}

.bg1 {
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.info {
  display: inline-block;
  position: relative;
  padding-bottom: 5px;
  transition: color 300ms ease-in-out;
}

.info::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(0, 180, 0);
  transition: width 300ms ease-in-out;
}

.info:hover {
  color: rgb(0, 180, 0);
  cursor: pointer;
}

.info:hover::after {
  width: 100%;
}

.MyInfo {
  font-family: Poppins;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
}

.MyInfo2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 16px;
  line-height: normal;
}

.IfoBtn {
  width: 169;
  height: 43;
  padding-top: 8px;
  padding-right: 44px;
  padding-bottom: 8px;
  padding-left: 44px;
  gap: 10px;
  border-radius: 8px;
  background: rgba(57, 150, 95, 1);
  margin-top: 16px;
}

.SadibarLogo h1 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-bottom: 7px;
  color: rgba(255, 255, 255, 1);
}

.SaidbarBtn {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.SaidbarBtn button {
  background: rgba(255, 255, 255, 0.1);
  padding: 6px 8px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  display: inline-block;
  width: auto;
  min-width: 50px;
  max-width: 100%;
  white-space: nowrap;
}

/* About page css */
.MyAdrees {
  width: full;
  height: 47;
  gap: 10px;
  display: flex;
  justify-content: start;
  color: #fff;
}

.MyAdrees h4 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 1);
}

.MyAdrees h2 {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.Contacs div {
  background-color: #181818;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.AboutMe h1 {
  font-family: Poppins;
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  position: relative;
  transition: color 300ms ease-in-out;
  margin-bottom: 24px;
}

.AboutMe h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 5px;
  background-color: rgb(0, 180, 0);
  transition: width 300ms ease-in-out;
}

.AboutMe h1:hover {
  cursor: pointer;
}

.AboutMe h1:hover::after {
  width: 100%;
}

.AboutMe p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 24px;
}

.ProgramLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(27, 27, 27, 1);
  border-radius: 12px;
  border-width: 1px;
  padding: 20px;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.AboutMe {
  animation: fade-in 1s ease-out;
}
.ProgramLogo {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.ProgramLogo:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}
.mywork {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.mywork:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}

/* Contacts css */
.mywork {
  display: flex;
  align-items: center;
  gap: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: rgba(27, 27, 27, 1);
  height: 124;
  border-radius: 12px;
  border-width: 1px;
  padding: 20px;
}

.mywork h2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 6px;
}

.mywork p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7);
}

.MyAddres {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MyAddres div {
  width: 290.6666564941406;
  height: 190;
  padding-top: 28px;
  padding-bottom: 28px;
  border-radius: 12px;
  border-width: 1px;
  background: rgba(27, 27, 27, 1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.MyAddres div p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

/* Project css */
.request {
  min-height: 420;
  border-radius: 12px;
  border-width: 1px;
  padding: 20px;
  background: rgba(27, 27, 27, 1);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.request div {
  display: flex;
  justify-content: space-between;
}

.request label {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 1);
}

.request input {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  outline: none;
}

.request textarea {
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 8px;
  border-width: 1px;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.request button {
  width: 158;
  height: 40;
  padding-top: 8px;
  padding-right: 44px;
  padding-bottom: 8px;
  padding-left: 44px;
  gap: 10px;
  border-radius: 8px;
  background: rgba(57, 150, 95, 1);
  margin-top: 20px;
  cursor: pointer;
}
/* Project css */

/* Home decs animatsiye */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 1s ease-in-out;
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 1s ease-in-out;
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideUp {
  animation: slideUp 1s ease-in-out;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-scaleIn {
  animation: scaleIn 0.8s ease-in-out;
}

/* Project */
.project {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.project:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
}
